.navbar .navbar-item,
.navbar .icon, .navbar .navbar-item .is-flags {
  cursor: pointer;
}

.navbar .navbar-item.is-alias {
  text-transform: capitalize;
}

.navbar .navbar-item .select:not(.is-multiple):not(.is-loading)::after {
  border-color: #b5b5b5;
  border-width: 2px;
}