.navbar .navbar-item,
.navbar .icon,
.navbar .navbar-item .is-flags {
  cursor: pointer;
}

.navbar .navbar-item.is-alias {
  text-transform: capitalize;
}

.navbar .navbar-item .select:not(.is-multiple):not(.is-loading)::after {
  border-color: $theme;
  border-width: 2px;
}

.navbar .navbar-item .select select {
  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    border-color: $theme;
  }
}

.navbar.is-light .navbar-start > a.navbar-item:hover,
.navbar.is-light .navbar-end > a.navbar-item:hover,
.navbar.is-light .navbar-brand > a.navbar-item:hover,
.navbar.is-light .navbar-brand > a.navbar-item.is-active,
.navbar.is-light .navbar-brand .navbar-link:hover,
.navbar.is-light .navbar-brand .navbar-link.is-active {
  background-color: transparent;
  color: inherit;
}

.navbar-item.is-social-avatar img {
  max-height: initial;
}
