.navbar .icon, .navbar .navbar-item .is-flags {
  color: #fff;
}

.navbar .navbar-item,
.navbar .icon, .navbar .navbar-item .is-flags {
  cursor: pointer;
}

.navbar .navbar-item .is-flags {
  margin-top: 7px;
  
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.navbar .navbar-item.is-username {
  text-transform: capitalize;
}