// SOCIAL BUTTONS

.is-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}
.is-google:focus,
.is-google.focus {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}
.is-google:hover {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}
.is-google:active,
.is-google.active,
.open > .dropdown-toggle.is-google {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}
.is-google:active:hover,
.is-google.active:hover,
.open > .dropdown-toggle.is-google:hover,
.is-google:active:focus,
.is-google.active:focus,
.open > .dropdown-toggle.is-google:focus,
.is-google:active.focus,
.is-google.active.focus,
.open > .dropdown-toggle.is-google.focus {
  color: #fff;
  background-color: #a32b1c;
  border-color: rgba(0, 0, 0, 0.2);
}
.is-google:active,
.is-google.active,
.open > .dropdown-toggle.is-google {
  background-image: none;
}
.is-google.disabled:hover,
.is-google[disabled]:hover,
fieldset[disabled] .is-google:hover,
.is-google.disabled:focus,
.is-google[disabled]:focus,
fieldset[disabled] .is-google:focus,
.is-google.disabled.focus,
.is-google[disabled].focus,
fieldset[disabled] .is-google.focus,
.is-google[disabled] {
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}
.is-google.is-outline,
.is-google .badge {
  color: #dd4b39;
  background-color: #fff;
}

// Facebook
.is-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}
.is-facebook:focus,
.is-facebook.focus {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.is-facebook:hover {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.is-facebook:active,
.is-facebook.active,
.open > .dropdown-toggle.is-facebook {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.is-facebook:active:hover,
.is-facebook.active:hover,
.open > .dropdown-toggle.is-facebook:hover,
.is-facebook:active:focus,
.is-facebook.active:focus,
.open > .dropdown-toggle.is-facebook:focus,
.is-facebook:active.focus,
.is-facebook.active.focus,
.open > .dropdown-toggle.is-facebook.focus {
  color: #fff;
  background-color: #23345a;
  border-color: rgba(0, 0, 0, 0.2);
}
.is-facebook:active,
.is-facebook.active,
.open > .dropdown-toggle.is-facebook {
  background-image: none;
}
.is-facebook.disabled:hover,
.is-facebook[disabled]:hover,
fieldset[disabled] .is-facebook:hover,
.is-facebook.disabled:focus,
.is-facebook[disabled]:focus,
fieldset[disabled] .is-facebook:focus,
.is-facebook.disabled.focus,
.is-facebook[disabled].focus,
fieldset[disabled] .is-facebook.focus,
.is-facebook[disabled] {
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}
.is-facebook.is-outline,
.is-facebook .badge {
  color: #3b5998;
  background-color: #fff;
}

// Profile link
.has-social-link {
  display: inline-block;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.has-social-link:first-child {
  margin-left: 0;
}
.has-social-link:last-child {
  margin-right: 0;
}
