// @import "assets/scss/_includes/base/all";

// html {
//   overflow: auto;
// }

// body {
//   margin: 0;
//   padding: 0;
// }
.is-pulled-right {
  float: right !important;
}

.is-pulled-left {
  float: left !important;
}

.has-text-centered {
  text-align: center !important;
}
